.slider-price-section{
    opacity: 5;
    background: url("../../../assets/images/bg_2.jpg");
    background-attachment: fixed;
    height: 45vh;
    

    .slider-price-section-container{
        opacity: 0.5;
        height: 45vh;
        background: linear-gradient(45deg, #207dff 0%, #00bd55 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
}