.blog{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        margin: auto;
        
        .card{
            margin: 10px;
            background-color: #fff;
            border-radius: 10px;
            .img{
                img{
                    width: 325px;
                    height: 200px;
                    border-radius: 5px;
                }
            }

            .type{
                padding: 0px 20px;
                h5{
                    color:rgb(182, 182, 182);
                }
            }

            .text{
                h3{
                    font-weight: 300;
                    padding: 5px 20px 20px 20px;
                }
            }
            .pack-price{
                display: flex;

                h1{
                    font-size: 70px;
                    sup{
                        color: grey;
                        font-size: 30px;
                    }
                    sub{
                        color: grey;
                        font-size: 15px;
                    }
                }
            }
            .sections{
                padding-bottom: 40px;
                ul{
                    li{
                        padding: 10px 100px;
                    }
                    li:nth-child(odd){
                        background-color: rgba(128, 128, 128, 0.479);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px){
    .blog{
        height: 150vh;
        .cards{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

@media screen and (max-width:649px){
    .blog{
        height: 200vh;
        .cards{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .card{
                .img{
                    img{
                        width: 290px;
                    }
                }
            }
        }
    }
}